resumableUpload/Service References/ServiceReference1/SignDocument.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://ebys.aa.com.tr/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://ebys.aa.com.tr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://ebys.aa.com.tr/">
      <s:element name="Sign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServisKullaniciAdi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServisParola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Konu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PersonelSicil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DokumanHash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SignSoapIn">
    <wsdl:part name="parameters" element="tns:Sign" />
  </wsdl:message>
  <wsdl:message name="SignSoapOut">
    <wsdl:part name="parameters" element="tns:SignResponse" />
  </wsdl:message>
  <wsdl:portType name="signdocumentSoap">
    <wsdl:operation name="Sign">
      <wsdl:input message="tns:SignSoapIn" />
      <wsdl:output message="tns:SignSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="signdocumentSoap" type="tns:signdocumentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sign">
      <soap:operation soapAction="https://ebys.aa.com.tr/Sign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="signdocumentSoap12" type="tns:signdocumentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sign">
      <soap12:operation soapAction="https://ebys.aa.com.tr/Sign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="signdocument">
    <wsdl:port name="signdocumentSoap" binding="tns:signdocumentSoap">
      <soap:address location="http://ebys.aa.com.tr/Check/SignDocument.asmx" />
    </wsdl:port>
    <wsdl:port name="signdocumentSoap12" binding="tns:signdocumentSoap12">
      <soap12:address location="http://ebys.aa.com.tr/Check/SignDocument.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>