testApi/Service References/ServiceReference1/FinanceApi1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FinanceApi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://aafinans.com/Servisler/FinanceApi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://aafinans.com/Servisler/FinanceApi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://aafinans.com/Servisler/FinanceApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FHTWebTerminal.Servisler" />
      <xsd:import schemaLocation="http://aafinans.com/Servisler/FinanceApi.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFinanceApi_FinanceArtanAzalanData_InputMessage">
    <wsdl:part name="parameters" element="tns:FinanceArtanAzalanData" />
  </wsdl:message>
  <wsdl:message name="IFinanceApi_FinanceArtanAzalanData_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinanceArtanAzalanDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceApi_FinanceGetTCMBSayfalari_InputMessage">
    <wsdl:part name="parameters" element="tns:FinanceGetTCMBSayfalari" />
  </wsdl:message>
  <wsdl:message name="IFinanceApi_FinanceGetTCMBSayfalari_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinanceGetTCMBSayfalariResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceApi_FinanceGetTCMBSayfalariList_InputMessage">
    <wsdl:part name="parameters" element="tns:FinanceGetTCMBSayfalariList" />
  </wsdl:message>
  <wsdl:message name="IFinanceApi_FinanceGetTCMBSayfalariList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinanceGetTCMBSayfalariListResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceApi_FinanceGetEmtia_InputMessage">
    <wsdl:part name="parameters" element="tns:FinanceGetEmtia" />
  </wsdl:message>
  <wsdl:message name="IFinanceApi_FinanceGetEmtia_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinanceGetEmtiaResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceApi_FinanceEmtiaListData_InputMessage">
    <wsdl:part name="parameters" element="tns:FinanceEmtiaListData" />
  </wsdl:message>
  <wsdl:message name="IFinanceApi_FinanceEmtiaListData_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinanceEmtiaListDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceApi_FinanceNewsData_InputMessage">
    <wsdl:part name="parameters" element="tns:FinanceNewsData" />
  </wsdl:message>
  <wsdl:message name="IFinanceApi_FinanceNewsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinanceNewsDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IFinanceApi">
    <wsdl:operation name="FinanceArtanAzalanData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceApi/FinanceArtanAzalanData" message="tns:IFinanceApi_FinanceArtanAzalanData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceApi/FinanceArtanAzalanDataResponse" message="tns:IFinanceApi_FinanceArtanAzalanData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinanceGetTCMBSayfalari">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceApi/FinanceGetTCMBSayfalari" message="tns:IFinanceApi_FinanceGetTCMBSayfalari_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceApi/FinanceGetTCMBSayfalariResponse" message="tns:IFinanceApi_FinanceGetTCMBSayfalari_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinanceGetTCMBSayfalariList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceApi/FinanceGetTCMBSayfalariList" message="tns:IFinanceApi_FinanceGetTCMBSayfalariList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceApi/FinanceGetTCMBSayfalariListResponse" message="tns:IFinanceApi_FinanceGetTCMBSayfalariList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinanceGetEmtia">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceApi/FinanceGetEmtia" message="tns:IFinanceApi_FinanceGetEmtia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceApi/FinanceGetEmtiaResponse" message="tns:IFinanceApi_FinanceGetEmtia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinanceEmtiaListData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceApi/FinanceEmtiaListData" message="tns:IFinanceApi_FinanceEmtiaListData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceApi/FinanceEmtiaListDataResponse" message="tns:IFinanceApi_FinanceEmtiaListData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinanceNewsData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceApi/FinanceNewsData" message="tns:IFinanceApi_FinanceNewsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceApi/FinanceNewsDataResponse" message="tns:IFinanceApi_FinanceNewsData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFinanceApi" type="tns:IFinanceApi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FinanceArtanAzalanData">
      <soap:operation soapAction="http://tempuri.org/IFinanceApi/FinanceArtanAzalanData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinanceGetTCMBSayfalari">
      <soap:operation soapAction="http://tempuri.org/IFinanceApi/FinanceGetTCMBSayfalari" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinanceGetTCMBSayfalariList">
      <soap:operation soapAction="http://tempuri.org/IFinanceApi/FinanceGetTCMBSayfalariList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinanceGetEmtia">
      <soap:operation soapAction="http://tempuri.org/IFinanceApi/FinanceGetEmtia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinanceEmtiaListData">
      <soap:operation soapAction="http://tempuri.org/IFinanceApi/FinanceEmtiaListData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinanceNewsData">
      <soap:operation soapAction="http://tempuri.org/IFinanceApi/FinanceNewsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinanceApi">
    <wsdl:port name="BasicHttpBinding_IFinanceApi" binding="tns:BasicHttpBinding_IFinanceApi">
      <soap:address location="http://aafinans.com/Servisler/FinanceApi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>