testApi/Service References/ServiceReference1/FinanceApi3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aafinans.com/Servisler/FinanceApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FHTWebTerminal.Servisler" />
  <xs:import schemaLocation="http://aafinans.com/Servisler/FinanceApi.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="FinanceArtanAzalanData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FHTWebTerminal.Servisler" minOccurs="0" name="data" type="q1:data3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinanceArtanAzalanDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinanceArtanAzalanDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinanceGetTCMBSayfalari">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinanceGetTCMBSayfalariResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinanceGetTCMBSayfalariResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinanceGetTCMBSayfalariList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="kodList" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinanceGetTCMBSayfalariListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinanceGetTCMBSayfalariListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinanceGetEmtia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FHTWebTerminal.Servisler" minOccurs="0" name="data" type="q3:data2" />
        <xs:element minOccurs="0" name="emtia" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FHTWebTerminal.Servisler" minOccurs="0" name="interval" type="q4:data4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinanceGetEmtiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinanceGetEmtiaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinanceEmtiaListData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FHTWebTerminal.Servisler" minOccurs="0" name="data" type="q5:data2" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="emtiaListesi" nillable="true" type="q6:ArrayOfstring" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FHTWebTerminal.Servisler" minOccurs="0" name="interval" type="q7:data4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinanceEmtiaListDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinanceEmtiaListDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinanceNewsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FHTWebTerminal.Servisler" minOccurs="0" name="data" type="q8:data" />
        <xs:element minOccurs="0" name="NewsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinanceNewsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinanceNewsDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>